@import "./bulma-custom"; // Кастом для bulma
@import '~nprogress/nprogress.css';

// Блоки
@import './blocks/ui';
@import './blocks/tasks';


body {
    background: #f9f9f9;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
}



.p-panel {
    background: #FFFFFF;
    box-shadow: 0px 7px 55px rgba(228, 235, 240, 0.75);
    border-radius: 10px;
    padding: 35px 28px 40px;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
    &__avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 20px;
    }
    &__body {
        flex: 1;
    }
    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 29px;
        color: #000000;
    }
    &__subtitle {
        font-size: 18px;
        color: #8F989F;

    }
}

.a-panel {
    background: #FFFFFF;
    box-shadow: 0px 7px 55px rgba(228, 235, 240, 0.75);
    border-radius: 10px;
    padding: 35px 28px 40px;

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 29px;
        color: #000000;
    }
    &__subtitle {
        font-size: 18px;
        color: #8F989F;
        margin-bottom: 30px;
    }
}

.u-item {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 0;
    position: relative;


    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
    }

    &__toolbar {
        margin-left: auto;
        .control {
            display: inline-block;
        }
    }
    &__level {
        color: $primary;
        width: 30px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 5px;
        top: calc(50% - 15px);
    }
    &--child {
        padding-left: 40px;
        background: rgba($primary, 0.05);
    }
}
