@import "./bulma-custom"; // Кастом для bulma
@import '~nprogress/nprogress.css';

// Блоки
@import './blocks/ui';
@import './blocks/admin';
@import './blocks/tasks';
@import './blocks/users';

body {
    background: #f9f9f9;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
}



